<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.joekincognito.scanDat"
        version   = "2.0.0">
    <name>scanDat 2.0</name>

    <description>
        New Update! Stores data on web server to allow users to manage different inventory centers and keep them in sync. As well as provides GWB Customers the ability to scan barcodes to order products as well as manage inventory. 
    </description>

    <author href="http://gwberkheimer.com" email="jkelley@gwberkheimer.com">
        Joe Kelley
    </author>

    <plugin name="cordova-plugin-barcodescanner" />

    <feature name="http://api.phonegap.com/1.0/device" />
   <!--  <feature name="debug-server" required="true">
       <param name="domain" value="http://debug.phonegap.com"/>
       <param name="key" value="willoughby"/>
    </feature>
-->

    <!--<preference name="phonegap-version" value="3.3.0" />-->
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="detect-data-types" value="false" />
    <!--<preference name="webviewbounce"    value="false" />-->

    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   platform="android"    density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   platform="android"    density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   platform="android"    density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  platform="android"    density="xhdpi" />
    <icon src="res/icon/blackberry/icon-80.png"     platform="blackberry" />
    <icon src="res/icon/blackberry/icon-80.png"     platform="blackberry" state="hover"/>
    <icon src="res/icon/ios/icon-57.png"            platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57@2x.png"         platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72@2x.png"         platform="ios"        width="144" height="144" />
    <!-- iPhone / iPod Touch  -->
    <icon src="icon-60.png" platform="ios" width="60" height="60" />
    <icon src="icon-60@2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icon-76@2x.png" platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="icon-small.png" platform="ios" width="29" height="29" />
    <icon src="icon-small@2x.png" platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="icon-40.png" platform="ios" width="40" height="40" />
    <icon src="icon-40@2x.png" platform="ios" width="80" height="80" />

    <icon src="res/icon/webos/icon-64.png"          platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" platform="winphone"   role="background" />

    <splash src="res/screen/android/screen-ldpi-portrait.png"  platform="android" density="ldpi" />
    <splash src="res/screen/android/screen-mdpi-portrait.png"  platform="android" density="mdpi" />
    <splash src="res/screen/android/screen-hdpi-portrait.png"  platform="android" density="hdpi" />
    <splash src="res/screen/android/screen-xhdpi-portrait.png" platform="android" density="xhdpi" />
    <splash src="res/screen/blackberry/screen-225.png"         platform="blackberry" />
    <splash src="res/screen/ios/screen-iphone-portrait.png"    platform="ios"     width="320" height="480" />
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" platform="ios"     width="640" height="960" />
    <splash src="res/screen/ios/screen-ipad-portrait.png"      platform="ios"     width="768" height="1024" />
    <splash src="res/screen/ios/screen-ipad-landscape.png"     platform="ios"     width="1024" height="768" />
    <splash src="res/screen/windows-phone/screen-portrait.jpg" platform="winphone" />

    <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
    <access origin="*" />
</widget>
